<div class="code-tab">
  <p class="code-tab__lead">Copy the snippets to reproduce this calendar configuration.</p>
  <p class="code-tab__hint">{{ clickHint }}</p>
  <div class="code-grid">
    <div>
      <p class="code-heading">HTML</p>
      <pre class="code-block"><code>{{ html }}</code></pre>
    </div>
    <div>
      <p class="code-heading">JavaScript</p>
      <pre class="code-block"><code>{{ javascript }}</code></pre>
    </div>
    <div>
      <p class="code-heading">CSS</p>
      <pre class="code-block"><code>{{ css }}</code></pre>
    </div>
  </div>
</div>
